section.fp-hero {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fp-hero h2 {
    font-size: clamp(32px, 100vw, 400px);
    margin-bottom: 0;
    font-weight: 100;
    position: abs;
}

.fp-hero-sub {
    width: 60vw;
    margin-top: 0.5em;
    font-size: clamp(9px, 3vw, 14px);
}

/*============== SECTION 1 ================*/

.fp-intro {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.fp-intro div {
    width: 50%;
    padding: 0 2em;
}

/*============== SECTION 2 SELECTION ================*/

.fp-project-filter-list::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.fp-project-filter-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    margin-bottom: 80px;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.fp-project-filter-list a {
    flex-shrink: 0;
    font-size: clamp(9px, 1.5vw, 16px);
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
    transition: var(transition-ease-1);
}

.fp-project-filter-list a.selected {
    background-color: var(--color-black);
    color: var(--color-offwhite);
    border: none;
}

.fp-project-filter-list a:hover {
    background-color: var(--color-black);
    color: var(--color-offwhite);
    scale: 1.05;
}

/*============== RESPONSIVE ================*/

/* Responsive Breakpoints */


@media screen and (max-width: 768px) {

    .fp-hero h2 {
        font-size: 200px;

    }

}