section.fp-hero {
  margin-bottom: 0;
  border-bottom: 0;
}

.post-cover-image {
  /* width: 100%; */
  height: 500px;
  animation: float 10s ease-in-out infinite alternate;
}

.post-cover-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 0;
}

.post-title-container,
.post-text-container {
  border-bottom: 0;
  padding: 20px 50px;
  width: 90%;
}

.post-intro-text {
  width: 80%;
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-video,
.post-image {
  object-fit: contain;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
}

.post-image-container-double {
  display: flex;
  gap: 20px;
  width: 100%;
}

.post-image-container-double img {
  object-fit: cover;
  width: 50%;
}

.post-image-container-double video {
  object-fit: cover;
  width: 50%;
}

.post-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 30px 0;
  width: 100%;
  height: 70vh;
  border-radius: 20px !important;
  background: #000;
  overflow: hidden;
  gap: 10px;
}

.post-video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  section.fp-hero {
    min-height: max-content;
  }

  .post-title-container,
  .post-text-container {
    padding: 20px 20px;
    width: 100%;
  }

  .post-cover-image {
    /* width: 100%; */
    height: 350px;
  }

  .post-intro-text {
    width: 100%;
  }

  .post-image-container {
    width: 100%;
  }

  .post-video,
  .post-image {
    width: 100%;
  }

  .post-image-container-double {
    flex-direction: column;
    gap: 0;
  }

  .post-image-container-double img,
  .post-image-container-double video {
    object-fit: cover;
    width: 100%;
  }
  .post-video-container {
    margin: 20px 0 20px 0;
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 480px) {
}
